


* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fl{
  float: left;
}

.fr{
  float: right;
}

.center{
  margin: 0 auto;
}

// Based on work by Chris Coyier
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1025px)  {
      @content;
    }
  }
  @else if $point == mama-bear {
    @media (min-width: 731px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $point == baby-bear {
    @media (min-width: 0px) and (max-width: 730px)  {
      @content;
    }
  }
}

// Based on Don't Overthink it Grids by Chris Coyier
// http://css-tricks.com/dont-overthink-it-grids/
.row{
  &:after{
    clear: both;
    display: table;
    content:"";
  }
}
//set your desired gutter here
$col-gutter: 10px;
$col-gutter-half: $col-gutter/2;

.col{
  display: inline-block;
  float: left;
  @include breakpoint(baby-bear) {
    padding-left: 0px;
    padding-right: 0px;
  }
  @include breakpoint(mama-bear) {
    padding-left: $col-gutter-half;
    padding-right: $col-gutter-half;
  }
  @include breakpoint(papa-bear) {
    padding-left: $col-gutter-half;
    padding-right: $col-gutter-half;
  }

  img{
    max-width: 100%;
  }
}

.module{
  margin-left: $col-gutter-half;
  margin-right: $col-gutter-half;
}

// Ridiculous fraction support!
.col1-1,
.col2-2,
.col3-3,
.col4-4,
.col5-5,
.col6-6,
.col7-7,
.col8-8,
.col9-9,
.col10-10{
 @extend .col;
 width: 100%;
}

.col1-2,
.col2-4,
.col3-6,
.col4-8,
.col5-10,
.col5-10{
 @extend .col;
 width: 50%;
}

.col1-3,
.col3-9{
 @extend .col;
 width: 33.3333333333%;
}

.col2-3,
.col4-6,
.col6-9{
 @extend .col;
 width: 66.6666666667%;
}

.col1-4,
.col2-8{
 @extend .col;
 width: 25%;
}

.col3-4{
 @extend .col;
 width: 75%;
}

.col1-5,
.col2-10{
 @extend .col;
 width: 20%;
}

.col4-5,
.col8-10{
 @extend .col;
 width: 80%;
}

.col1-6{
 @extend .col;
 width: 16.6666667%;
}

.col5-6{
 @extend .col;
 width: 83.3333333%;
}

.col1-7{
 @extend .col;
 width: 14.2857142857%;
}

.col2-7{
 @extend .col;
 width: 28.5714285714%;
}

.col3-7{
 @extend .col;
 width: 42.8571428571%;
}

.col4-7{
 @extend .col;
 width: 57.1428571429%;
}

.col5-7{
 @extend .col;
 width: 71.4285714286%;
}

.col6-7{
 @extend .col;
 width: 85.7142857143%;
}

.col1-8{
 @extend .col;
 width: 14.2857142857%;
}

.col3-8{
 @extend .col;
 width: 37.5%;
}

.col5-8{
 @extend .col;
 width: 62.5%;
}

.col7-8{
 @extend .col;
 width: 87.5%;
}

.col1-9{
 @extend .col;
 width: 11.1111111111%;
}

.col2-9{
 @extend .col;
 width: 22.2222222222%;
}

.col4-9{
 @extend .col;
 width: 44.4444444444%;
}

.col5-9{
 @extend .col;
 width: 55.5555555556%;
}

.col7-9{
 @extend .col;
 width: 77.7777777778%;
}

.col8-9{
 @extend .col;
 width: 88.8888888889%;
}

.col1-10{
 @extend .col;
 width: 10%;
}

.col3-10{
 @extend .col;
 width: 30%
}

.col2-5,
.col4-10{
 @extend .col;
 width: 40%
}

.col3-5,
.col6-10{
 @extend .col;
 width: 60%;
}

.col7-10{
 @extend .col;
 width: 70%;
}

.col9-10{
 @extend .col;
 width: 90%;
}

// Fractions!!

