<div class="bottom-band">

	<footer class="row">

		<div class="col-sm-3">
			<div class="module">
				<h3>Games</h3>
				<ul class="menu">
					{{#each games}}
						<li>
							<a href="{{link}}">{{title}}</a>
						</li>
					{{/each}}
					<li><a href="/">All Games</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col-sm-3 -->

		<div class="col-sm-3">
			<div class="module">
				<h3>Studio Info</h3>
				<ul class="menu">
					<li><a href="/about-us">About Us</a></li>
					<li><a href="/press" target="_blank">Press Kit</a></li>
					<li><a href="http://twoscoopgames.tumblr.com/" target="_blank">Devlog</a></li>
					<li><a href="http://louisvillemakesgames.org" target="_blank">Louisville Makes Games!</a></li>
					<li><a href="http://two-scoop-games.itch.io/" target="_blank">Itch.io</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col-sm-3 -->

		<div class="col-sm-3">
			<div class="module">
				<h3>Social</h3>
				<ul class="menu">
					<li><a href="https://twitter.com/TwoScoopGames" target="_blank">Follow us on Twitter</a></li>
					<li><a href="http://twoscoopgames.tumblr.com/" target="_blank">Follow us on Tumblr</a></li>
					<li><a href="http://twitch.tv/twoscoopgames" target="_blank">Follow us on Twitch</a></li>
					<li><a href="https://www.youtube.com/user/TwoScoopGames" target="_blank">Subscribe to us on YouTube</a></li>
					<li><a href="https://www.facebook.com/TwoScoopGames" target="_blank">Like us on Facebook</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col-sm-3 -->

		<div class="col-sm-3">
			<div class="module">
				<h3>Contact</h3>
				<ul class="menu">
					<li><a href="mailto:info@twoscoopgames.com">Email us</a></li>
					<li><a href="/support">Game Support</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col-sm-3 -->

	</footer>

	<div class="legal">
		<p>©<script>document.write(new Date().getFullYear())</script> Two Scoop Games LLC</p>
	</div>
</div>
