<div class="footer-wrapper">

	<div class="footer container">

		<div class="row">

				<div class="col-sm-6">
					<div class="module">
						<h3>Games</h3>
						<ul class="menu">
							{{#each games}}
								<li>
									<a href="{{link}}">{{title}}</a>
								</li>
							{{/each}}
							<li><a href="/">All Games</a></li>
						</ul>
					</div><!-- .module -->
				</div><!-- .col-sm-3 -->



				<div class="col-sm-6">


					<div class="module">
					

						<h3>Studio Info</h3>
						<ul class="menu">
							<li><a href="/about-us">About Us</a></li>
							<li><a href="/press" target="_blank">Press Kit</a></li>
							<li><a href="http://louisvillemakesgames.org" target="_blank">Louisville Makes Games! community</a></li>
						</ul>
					</div><!-- .module -->
				</div><!-- .col-sm-3 -->

		</div><!-- / row -->

		<div class="legal row">
			<p>© 2014 - 2023 Two Scoop Games LLC</p>
		</div>

	</div> <!-- / footer-container -->

</div> <!-- / footer-wrapper -->
