<div class="bottom-band">

	<footer class="row">

		<div class="col1-4">
			<div class="module">
				<h3>Games</h3>
				<ul class="menu">
					{{#each games}}
						<li>
							<a href="{{link}}">{{title}}</a>
						</li>
					{{/each}}
					<li><a href="/">All Games</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col1-4 -->

		<div class="col1-4">
			<div class="module">
				<h3>Studio Info</h3>
				<ul class="menu">
					<li><a href="/about-us">About Us</a></li>
					<li><a href="http://gamedevlou.org">Game Dev Lou</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col1-4 -->

		<div class="col1-4">
			<div class="module">
				<h3>Social</h3>
				<ul class="menu">
					<li><a href="https://twitter.com/TwoScoopGames">Follow us on Twitter</a></li>
					<li><a href="https://google.com/+TwoScoopGames">Follow us on Google+</a></li>
					<li><a href="https://www.facebook.com/TwoScoopGames">Like us on Facebook</a></li>
					<li><a href="https://www.youtube.com/user/TwoScoopGames">Subscribe to us on YouTube</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col1-4 -->

		<div class="col1-4">
			<div class="module">
				<h3>Support</h3>
				<ul class="menu">
					<li><a href="/support">Game Support</a></li>
				</ul>
			</div><!-- .module -->
		</div><!-- .col1-4 -->

	</footer>

	<div class="legal">
		<p>©<script>document.write(new Date().getFullYear())</script> Two Scoop Games LLC</p>
	</div>
</div>
