{{#if bg-video}}
<video class='videoBG' src="{{bg-video}}" autoplay="" loop="" playsinline="" muted=""></video>
{{/if}}
<section class="container">


  {{#if page-background-color}}
  <style>
  body {
    background: {{page-background-color}};
  }
  </style>
  {{/if}}


  {{#if icon}}
  <div class="spacer row">
    <div class="col-sm-3">
      <div class="icon module">
        <img src="{{icon}}" alt="{{logo-alt}}" />
      </div> <!-- /icon module -->

    </div>

    <div class="col-sm-9">
      <div class="pitch module">
        

        <h1>{{title}}</h1>
        <h2>{{tagline}}</h2>

        <p>{{{pitch}}}</p>

        <h3>{{release-statement}}</h3>
      </div> <!-- /pitch module -->
    </div>
  </div>

  {{/if}}
{{#if custom-header}}
<img src="/img/kick-bot-site-logo.png"alt="{{logo-alt}}" style="position: relative;
    top: -115px;"/>
<!-- <div class="custom-header">

<img class="header-giga" src="/img/kick-bot-header-giga.png" alt="{{logo-alt}}" />
<img class="header-kickbot" src="/img/kick-bot-header-kick-bot.png" alt="{{logo-alt}}" />
<img class="header-tally" src="/img/kick-bot-header-tally.png" alt="{{logo-alt}}" />
<img class="header-logo" src="/img/kick-bot-logo.png" alt="{{logo-alt}}" />
</div> -->

  {{else if logo}}
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="TwoScoopGames" data-size="large" data-hashtags="{{hashtag}}">Tweet</a>
  <script>
  ! function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
    p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
      js = d.createElement(s);
      js.id = id;
      js.src = p + '://platform.twitter.com/widgets.js';
      fjs.parentNode.insertBefore(js, fjs);
    }
  }(document, 'script', 'twitter-wjs');
  </script>

  <div class="row">
    <div class="col-sm-12 text-center">

      {{#if logo-link}}<a href="{{logo-link}}" target="_blank">{{/if}}
        <img class="game-logo" src="{{logo}}" alt="{{logo-alt}}" />
        {{#if logo-link}}</a>{{/if}}





      </div>
    </div>


    <div class="row">
      {{#if hide-title}}
      {{else}}
      <h1>{{title}}</h1>
      {{/if}}
      <h2 class="text-center">{{tagline}}</h2>
      <br/>
      <div class="col-sm-6">
        {{#if trailer}}
        <div class="youtube-video module">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{trailer}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
        </div>

        {{/if}}

      </div>
      <div class="col-sm-6">
        <p>
          {{description}}
        </p>
        {{#if features}}
        <div class="features module">
          <ul>
            {{#each features}}
            <li>{{{this}}}</li>
            {{/each}}
          </ul>
        </div>
        {{/if}}
      </div>
      <h3 class="release-statement text-center">{{release-statement}}</h3>

    </div>
    {{/if}}


<div class="row">
    <div class="store-buttons module">
      {{> storeButtons storeButtons}}
    </div>
    </div>







    <!-- {{#if notice-me}}
    <div class="spacer row">
    <div class="notice-me">
    <div class="module">
    <p>{{notice-me.text}}</p>
    <div class="btn-container">
    <a href="{{notice-me.cta-button.url}}" title="{{notice-me.text}}" class="btn">{{notice-me.cta-button.text}}</a>
  </div>
</div>
</div>
</div>
{{/if}} -->


<div class="spacer row">

  <div class="col-md-6 col-sm-12">


    {{#if logo}}

    {{else}}
    {{#if trailer}}
    <div class="youtube-video module">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{trailer}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>

    {{/if}}
    {{/if}}
  </div>

<div class="col-md-6 col-sm-12">
  <p>
    {{description}}
  </p>
  {{#if features}}
  <div class="features module">
    <ul>
      {{#each features}}
      <li>{{{this}}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}
</div>

</div>

<div class="screenshots row module">
  {{#each screenshots}}
  <div class="screenshot col-sm-6">
    <div class="module">
      <img src="{{this}}" />
    </div>
  </div>
  {{/each}}
</div>



{{#if laurels}}

<div class="spacer row">
  <div class="col-sm-12">
    <div class="awards module">
      <div class="row">
        {{#each laurels}}
        <div class="award col-md-4 col-sm-6 col-xs-12">
          {{#if link}}
          <a href="{{link}}"> <img src="/{{image}}" alt="{{title}}" /></a>
          {{else}}
          <img src="/{{image}}" alt="{{title}}" />
          {{/if}}
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}


<div class="spacer row">
  <div class="col-sm-7 col-xs-12">
    {{#if media}}
    <div class="reviews module">
      <h3>Reviews & Media</h3>
      </br>
      <div class="row">
        {{#each media}}
        <div class="col-sm-6 col-xs-12">
          <a href="{{link}}"target="_blank">
            <img src="{{img}}" alt="{{title}} - {{author}}"></a>
          <strong><a href="{{link}}" class="title text-decoration-none" target="_blank">{{title}}</a></strong>
        </br>{{author}}
        </div>
        {{/each}}
      </div>
    </div>
    {{/if}}
  </div>

  <div class="col-sm-5 col-xs-12">
    {{#if team}}
    <div class="contributors module">
      <h3>The {{title}} Team</h3>
      <ul class="team credits">
        {{#each team}}
        <li><a href="{{link}}" target="_blank"><strong>{{name}}</strong></a><br/>{{role}}</li>
        {{/each}}
      </ul>
      {{#if additional-credits}}
      <strong>Additional Credits</strong>
      <ul class="credits">
        {{#each additional-credits}}
        <li><a href="{{link}}" target="_blank"><strong>{{name}}</strong></a><br/>{{role}}</li>
        {{/each}}
      </ul>
      {{/if}}
    </div>
    {{/if}}
  </div>
</div>







{{#if jam}}
<div class="spacer row">
  <div class="col-sm-12">
    <div class="jam">
      <div class="module">
        <h3>Game Jam</h3>
        <p><strong>Created for</strong> {{jam.title}}</p>
        <p>{{jam.date}}</p>
        <p><strong>Theme:</strong> {{jam.theme}}</p>
        <p><a href="{{jam.link}}" target="_blank">View the Jam Page</a></p>
      </div>
    </div>
  </div>
</div>
{{/if}}











<h4 class="copyright">{{title}} copyright &copy; Two Scoop Games LLC</h4>

</section>
