{{#if patreon}}
<div class="col-md-4 col-sm-6 col-xs-12">
  <a class="btn btnPrimary patreon" href="{{patreon}}" target="_blank">
    <img src="/img/patreon.png"/>
    <p>Support us on Patreon</p>
  </a>
</div>
{{/if}}

{{#if steam}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary steam" href="{{steam}}" target="_blank">
  <img src="/img/steam.png"/>
  <p>Demo on Steam</p>
</a>
</div>
{{/if}}

{{#if discord}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary discord" href="{{discord}}" target="_blank">
  <img src="/img/discord.png"/>
  <p>Join the Discord</p>
</a>
</div>
{{/if}}

{{#if betasignup}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary betasignup" href="{{betasignup}}" target="_blank">
  <img src="/img/web.png"/>
  <p>Join the Discord</p>
</a>
</div>
{{/if}}

{{#if printandplay}}
<div class="col-sm-4 col-xs-12">
<a class="btn btnPrimary printandplay" href="{{printandplay}}" target="_blank">
  <img src="/img/print.png"/>
  <p>Free print and play edition!</p>
</a>
</div>
{{/if}}

{{#if mailinglist}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary mailinglist" href="{{mailinglist}}" target="_blank">
  <img src="/img/mail.png"/>
  <p>Get email updates!</p>
</a>
</div>
{{/if}}







{{#if linux}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary linux" href="{{linux}}" target="_blank">
  <img src="/img/linux.png"/>
  <p>Linux</p>
</a>
</div>
{{/if}}



{{#if chrome}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary chrome " href="{{chrome}}"target="_blank">
  <img src="/img/chrome.png"/>
  <p>Chrome Web Store</p>
</a>
</div>
{{/if}}


{{#if itch}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary itch " href="{{itch}}" target="_blank">
  <img src="/img/itch.png"/>
  <p>itch.io</p>
</a>
</div>
{{/if}}


{{#if web}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary web " href="{{web}}" target="_blank">
  <img src="/img/web.png"/>
  <p>Play on Web</p>
</a>
</div>
{{/if}}

{{#if webtouch}}
<div class="col-md-4 col-sm-6 col-xs-12">
<a class="btn btnPrimary webtouch " href="{{webtouch}}"target="_blank">
  <img src="/img/touch.png"/>
  <p>Play on Web (touch)</p>
</a>
</div>
{{/if}}


