<div class="about-us container">
	<div class="col-sm-12">
		<h1>PRIVACY POLICY</h1>
	<p><strong>Last Changes to Privacy Policy: Feb 7, 2019</strong></p>
	<p>We are strongly committed to letting you know how we will collect and use your information when using our apps or playing our games.  The policies below are applicable to data and information collected through our apps, games, and websitess published by Two Scoop Games, LLC or DBA Two Scoop Interactive (collectively “Two Scoop Games” or “we”, “us”, or “our”).  We have established this privacy policy (“Privacy Policy”) to let you know the kinds of information we may gather during your use of our apps, games, and websites, why we gather your information, what we use your personal information for, when we might disclose your personal information, and how you can manage your personal information.</p>
	<p><strong>Please be advised that the practices described in this Privacy Policy apply only to information gathered through our apps, games, and websites. It does not apply to information that you may submit to us offline or we or our related companies collect outside of our apps, games, and websites, or by companies or organizations to which we may link or who may link to us. </strong></p>
	<p><strong>By using our apps, games, and websites you are accepting the practices described in our Privacy Policy.  If you do not agree to the terms of this Privacy Policy, please do not use the our apps, games, and websites.  We reserve the right to modify or amend the terms of our Privacy Policy from time to time without notice. Your continued use of our apps, games, and websites following the posting of changes to these terms will mean you accept those changes.  If we intend to apply the modifications or amendments to this Privacy Policy retroactively or to personal information already in our possession, we will provide you with notice of the modifications or amendments.</strong></p>
	<p>If you have any questions about this Privacy Policy or don’t see your concerns addressed here, you should contact us by email at <a href="mailto:info@twoscoopgames.com">info@twoscoopgames.com</a>.</p>
	<ol>
		<li><a href="#one">What Information About Me Is Collected and Stored?</a></li>
		<li><a href="#two">Use of Cookies and Other Tracking Technologies</a></li>
		<li><a href="#three">How Do We Use Your Information?</a></li>
		<li><a href="#four">Who Do We Provide Your Information To?</a></li>
		<li><a href="#five">What Happens When I Link To or From Another App?</a></li>
		<li><a href="#six">Governing Law</a></li>
		<li><a href="#seven">Changes to This Policy</a></li>
	</ol>

	<h2 id="one">1. What Information About Me Is Collected and Stored?</h2>

	<p>There are two basic types of information that we may collect in conjunction with your use of our apps, games, and websites, personal information and non-personal information.  Personal information is any information that can individually identify you and includes, among other things, your name, e-mail address, telephone number, postal address, credit card information, and billing and contact information.  Non-personal information includes information that does not personally identify you, but may include tracking and usage information about your demographics or use of our apps, games, and websites.</p>

	<h3>Personal Information</h3>
	<p>You can fully use our apps, games, and websites without submitting any personal information to us.  At this time, we do not collect any personal information from you through our apps, games, and websites, nor do we use any of your personal information in conjunction with the operation of our apps, games, and websites.</p>

	<h3>Non-Personal Information</h3>
	<p>When you interact with our apps, games, and websites, we may collect certain information that does not identify you individually and our apps, games, and websitesand associated technology may automatically keep an activity log of your use of our apps, games, and websites(“Non-Personal Information”). Generally, we may collect and store the following categories of Non-Personal Information:</p>
	<ul>
		<li>Non-identifiable demographic data such as age, gender, and five digit zip code as part of collecting personal information</li>
		<li>Device information about your computer, browser, mobile device, or other device that you use to access our apps, games, and websites.  This information may include IP address, geolocation information, unique device identifiers, browser type, browser language, and other transactional information.</li>
		<li>Analytics and usage information about your use of our apps, games, and websites.</li>
		<li>Additional “traffic data” and log files such as time of access, date of access, software crash reports, session identification number, access times, and referring App addresses.</li>
		<li>Other information regarding your use of our apps, games, and websites.</li>
	</ul>

	<h3>Collection of Your Source IP Address/Location Information</h3>
	<p>We may collect and store location information about you on our apps, games, and websites and associated with your account that you volunteer on our apps, games, and websites or enable through our apps, games, and websites or your device.  We will not collect any location information that you do not volunteer or enable.  We will delete any location information that you request is deleted.  We do collect and store your device’s source IP address which may disclose the location of your device at the time you access our apps, games, and websites.</p>

	<h2 id="two">2. Use of Cookies and Other Tracking Technologies</h2>

	<p>We do not use any cookies for any purpose, including “session” cookies, “persistent” cookies, flash cookies, web storage, web beacons or other technology that tracks you.  We may also use certain technologies to monitor traffic, improve our apps, games, and websitess and make it easier and/or relevant for your use, and collect analytics, but none of these technologies track you or identify you.</p>
	<p>We do not deliver advertising on or through our apps, games, and websites.  If you are concerned about mobile app tracking by advertising networks, you can learn about your options to opt-out of mobile app tracking by certain advertising networks through your device settings.  For more information about how to change these settings for Apple, Android or Windows devices, see:</p>
	<ul>
		<li>Apple:  <a href="http://support.apple.com/kb/HT4228" target="_blank">http://support.apple.com/kb/HT4228</a></li>
		<li>Android:  <a href="http://www.google.com/policies/technologies/ads/" target="_blank">http://www.google.com/policies/technologies/ads/</a></li>
	</ul>

	<h2 id="three">3. How Do We Use Your Information?</h2>
	<p>We use the information we learn from you to help us personalize and continually improve your experience on our apps, games, and websites.  We may use your Non-Personal Information in the following ways:</p>
	<h3>General Uses</h3>
	<ul>
		<li>To communicate our policies</li>
		<li>To personalize content and experiences on our App, including providing you reports, recommendations and feedback based on your preferences</li>
		<li>To analyze, optimize or improve our products, services and operations</li>
		<li>To automatically update our apps, games, and websites on your device</li>
		<li>To detect, investigate, and prevent activities that may violate our policies or be illegal</li>
	</ul>
	<h3>Use of Your Location Information</h3>
	<p>Specifically, we use your location information to:</p>
	<ul>
		<li>Personalize content on our App, including providing you reports, recommendations and feedback based on your preferences</li>
		<li>Optimize or improve our products, services and operations</li>
		<li>Detect, investigate, and prevent activities that may violate our policies or be illegal</li>
		<li>Perform statistical, demographic, and marketing analyses of users of our apps, games, and websites</li>
	</ul>


	<h2 id="four">4. Who Do We Provide Your Information To?</h2>
	<p>Except as disclosed in this Privacy Policy, we do not use or disclose information about you to any companies not part of Two Scoop Games or related entities.</p>


	<h2 id="five">5. What Happens When I Link To or From Another App?</h2>
	<p>our apps, games, and websites may contain links to other apps or websites operated by third parties. Please be advised that the practices described in this Privacy Policy for Two Scoop Games do not apply to information gathered through these other Apps. We are not responsible for the actions and privacy policies of third parties and other Apps.</p>

	<h2 id="six">6. Governing Law</h2>
	<p>our apps, games, and websites is published in the United States. We attempt to protect the data and information of all users of our apps, games, and websitesand we attempt to comply with local data protection and consumer rights laws to the extent they may apply to our apps, games, and websites, but our apps, games, and websitesis located and targeted to United States citizens and our policies are directed at compliance with those laws.  If you are uncertain whether this privacy policy conflicts with our apps, games, and websiteslicable local privacy laws where you are located, you should not submit your data and information through our apps, games, and websites.</p>


	<h2 id="seven">7. Changes to This Policy</h2>
	<p>As our apps, games, and websites continue to develop, we may add new services and features. In the event that these additions affect our Privacy Policy, this document will be updated appropriately.  We will post those changes prominently so that you will always know what information we gather, how we might use that information and whether we will disclose it to anyone.  We do, however, recommend that you read this Privacy Policy each time you use our apps, games, and websitesin case you missed our notice of changes to the Privacy Policy.  We will not, however, materially change our policies and practices to make them less protective of your information that we have previously collected from you without your express consent.</p>


<footer>
		<p>&copy; 2019 Two Scoop Games, LLC. All rights reserved.<br><br></p>
</footer>

</div>
</div>
