<meta name="author" content="Two Scoop Games">
  <meta property="og:site_name" content="Two Scoop Games">
  <meta name="twitter:site" content="http://twoscoopgames.com">
  <meta name="twitter:creator" content="Two Scoop Games">

  <meta property="og:title" content="Two Scoop Games - Ice Cream Map">
  <meta name="twitter:title" content="Two Scoop Games - Ice Cream Map">
  <meta property="og:url" content="http://twoscoopgames.com/ice-cream-map">
  <meta name="description" content="Whenever we visit a new city, we always ask 'What is the best ice cream in town?'. Over the years we have learned a lot about the great ice cream that is out there so we created this map so you can know when to get fantastic ice cream wherever you are!">
  <meta property="og:description" content="Whenever we visit a new city, we always ask 'What is the best ice cream in town?'. Over the years we have learned a lot about the great ice cream that is out there so we created this map so you can know when to get fantastic ice cream wherever you are!">
  <meta name="twitter:description" content="Whenever we visit a new city, we always ask 'What is the best ice cream in town?'. Over the years we have learned a lot about the great ice cream that is out there so we created this map so you can know when to get fantastic ice cream wherever you are!">
  <meta property="og:image" content="http://twoscoopgames.com/img/ice-cream-map.png">
  <meta name="twitter:image" content="http://twoscoopgames.com/img/ice-cream-map.png">


  <div class="about-us container">


  <div class="spacer row">
    <div class="col-sm-12">
      <img src="/img/ice-cream-map.png" alt="Two Scoop Games - Ice Cream Map"/><br/>
  			<h3>Two Scoop Games Ice Cream Map</h3>
  			<p>Whenever we visited a new city, we always asked, "What is the best ice cream in town?". Over the years, we learned a lot about the great ice cream that was out there, so we created this map so you could find fantastic ice cream wherever you were!</p>


  		</div>


    </div>


    <div class="spacer row">
      <div class="col-sm-12">


            <iframe src="https://www.google.com/maps/d/u/1/embed?mid=1tUEZoouWRpOupOIhN4FAO9xxqNvmA20t" width="640" height="480" style="display: block; margin: 0 auto;"></iframe>



      </div>


      </div>
    </div>





  </div> <!-- ice-cream-map container row -->
