<h2>Support</h2>

<p>Have a quick question? Contact us on <a href="https://twitter.com/TwoScoopGames">Twitter</a>.</p>

<p>Having trouble with a game, or just want to ask a question? We're here for you!</p>

<p>You can create a ticket, and we will address your issue or problem:</p>

<form method="post" action="#">
	<p>
		Your Name (required)<br />
		<input type="text" name="name" />
	</p>
	<p>
		Your Email Address (required)<br />
		<input type="text" name="email" />
	</p>
	<p>
		Game<br />
		<input type="text" name="game" />
	</p>
	<p>
		Question<br />
		<textarea name="question"></textarea>
	</p>
	<p>
		<input type="submit" value="Send" />
	</p>
</form>
