{{>game-page games.apartment213}}

<div class="container">
<h3>What people are saying about Apartment 213</h3>
<div class="quotes row" module>
	{{#each apartment213-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
