{{>game-page games.morningritual}}

<div class="container">
<h3>What people are saying about Morning Ritual</h3>
<ul class="comments">
	{{#each morningritual-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
