<div class="games row">
	<div class="col1-2">
		<div class="module">
			<a href="/fluffykins" target="_blank"> 
				<img class="hoverGif" alt="" src="http://twoscoopgames.com/wp-content/uploads/2014/02/MFGSA-still1.png" width="100%" data-orig="http://twoscoopgames.com/wp-content/uploads/2014/02/MFGSA-still1.png" data-hover="http://twoscoopgames.com/wp-content/uploads/2014/02/MFGSA1.gif" />
			</a>

			<h2>Mr. Fluffykins' Great Sorting Adventure</h2>
		</div><!-- .module -->
	</div>
	<div class="col1-2">
		<div class="module">
			<a href="/blackjack" target="_blank">
				<img alt="scurry" src="img/blackjack.png" width="100%" />
			</a>
			<div class="cornerBand">COMING SOON</div>
			<h2>Two Scoop Blackjack</h2>
		</div><!-- .module -->
	</div>
</div><!-- .gamesrow -->

<div class="games row">
	<div class="col1-2">
		<div class="module">
			<a href="/kickbot" target="_blank">
					<img class="hoverGif" alt="" src="img/kickbot.png" width="100%" data-orig="img/kickbot.png" data-hover="img/kickbot-hover.gif" />
			</a>

			<h2>Kick Bot</h2>
		</div><!-- .module -->
	</div>
	<div class="col1-2">
		<div class="module">
			<a href="/apartment213/" target="_blank">
				<img class="hoverGif"  alt="apt213" src="img/apt213.png" width="100%"  data-orig="img/apt213.png" data-hover="img/apt213-hover.gif" />
			</a>

			<h2>Apartment 213</h2>
		</div><!-- .module -->
	</div>
</div><!-- .gamesrow -->

<div class="games row">
	<div class="col1-2">
		<div class="module">
			<a href="/scurry" target="_blank">
				<img alt="scurry" src="http://twoscoopgames.com/wp-content/uploads/2014/02/scurry.png" width="100%" />
			</a>
			<div class="cornerBand">COMING SOON</div>
			<h2>Scurry</h2>
		</div><!-- .module -->
	</div>
</div><!-- .gamesrow -->
