

<div class="logo">
	<h1 class="title ir">Two Scoop Games</h1>
</div>





<div class="prototypes row">
		
		{{#each games}}
	

					<div class="col-sm-4">
						<div class="game prototype module">

							<a href="{{link}}">
								{{#if hoverimg}}
									<img alt="{{title}}" src="{{img}}" width="100%" data-hover-src="{{hoverimg}}" />
								{{else}}
									<img alt="{{title}}" src="{{img}}" width="100%" />
								{{/if}}
							</a>

							{{#if cornerBand}}
								<div class="cornerBand">{{cornerBand}}</div>
							{{/if}}
							<!-- <a href="{{link}}"><h2>{{title}}</h2></a> -->
						</div>
					</div>

		
		{{/each}}
	</div>
