{{>game-page games.electropolis}}

<div class="container">
<h3>What people are saying about Electropolis</h3>
<ul class="comments">
	{{#each electropolis-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
