<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{title}}</title>

		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->
		<header>
			<nav>
				<div class="nav-menu">
					<a href="/">Games</a>
					<a href="/about-us">About</a>
					<a href="http://twoscoopgames.tumblr.com/" target="_blank">Blog</a>
					<a href="http://twoscoopinteractive.com/">Hire</a>
				</div>
			</nav>
		</header>

		<div class="page">
			{{> body}}
		</div>

		{{> footer}}

		<script src="/js/vendor/jquery-3.2.1.min.js"></script>

		<script src="/js/main.js"></script>
		{{> google-analytics}}

		<script src="/js/vendor/jquery.fitvids.js"></script>
		<script>
		// fitvids
		$(document).ready(function(){
			$(".youtube-video").fitVids();
		});

		//comment sorting
		var quotes = makeQuotesArray($('.quote'));
		var filtered = fisherYates(quotes, 8);

		numberQuotes($('.quote'));
		showQuotes(filtered);

		function numberQuotes(elements) {
			var i = 0;
			elements.each(function() {
				$(this).attr("id", "quote"+ i);
				i++;
			});
		}

		function makeQuotesArray(elements) {
			var array = [];
			for (var i = 0; i < elements.length; i++) {
				array.push(i);
			};
			return array;
		}

		function fisherYates(myArray, nb_picks) {
			for (i = myArray.length - 1; i > 1  ; i--) {
				var r = Math.floor(Math.random() * i);
				var t = myArray[i];
				myArray[i] = myArray[r];
				myArray[r] = t;
			}
			return myArray.slice(0, nb_picks);
		}

		function showQuotes(array) {
			for (var i = 0; i < array.length; i++) {
				$('#quote'+array[i]).show();
			}
		}
		</script>
	</body>
</html>
