{{>game-page games.thedaytheworldchanged}}


<div class="container">
<h3>What people are saying about The Day the World Changed</h3>
<ul class="comments">
	{{#each thedaytheworldchanged-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
