{{>game-page games.thedaytheworldchanged}}

<h3>What people are saying about The Day the World Changed</h3>
<div class="quotes row">
	{{#each thedaytheworldchanged-comments}}
		{{> comment}}
	{{/each}}
</div>
