<div class="about-us container">
	<div class="col-sm-12">
		<h1>Kick Bot Privacy Policy</h1>

	<p><strong>Last Changes to Privacy Policy: Jan 14, 2020</strong></p>

	<p>We are strongly committed to letting you know how we will collect and use your information when playing Kick Bot.  The policies below are applicable to data and information collected through Kick Bot published by Two Scoop Games, LLC (collectively “Two Scoop Games” or “we”, “us”, or “our”).  We have established this privacy policy (“Kick Bot Program Privacy Policy”) to let you know the kinds of information we may gather during your use of Kick Bot, why we gather your information, what we use your personal information for, when we might disclose your personal information, and how you can manage your personal information.</p>
	<p><strong>Please be advised that the practices described in this Privacy Policy apply only to information gathered through Kick Bot. It does not apply to information that you may submit to us offline or we or our related companies collect outside of Kick Bot, or by companies or organizations to which we may link or who may link to us. </strong></p>

	<p><strong>By playing Kick Bot you are accepting the practices described in our Privacy Policy.  If you do not agree to the terms of this Privacy Policy, please do not use Kick Bot.  We reserve the right to modify or amend the terms of our Privacy Policy from time to time without notice. Your continued use of Kick Bot following the posting of changes to these terms will mean you accept those changes.  If we intend to apply the modifications or amendments to this Privacy Policy retroactively or to personal information already in our possession, we will provide you with notice of the modifications or amendments.</strong></p>
	<p>If you have any questions about this Privacy Policy or don’t see your concerns addressed here, you should contact us by email at <a href="mailto:info@twoscoopgames.com">info@twoscoopgames.com</a>.</p>
	<ol>
		<li><a href="#one">What Information About Me Is Collected and Stored?</a></li>
		<li><a href="#two">How Do We Use Your Information?</a></li>
		<li><a href="#three">Who Do We Provide Your Information To?</a></li>
		<li><a href="#four">Governing Law</a></li>
		<li><a href="#five">Changes to This Policy</a></li>
	</ol>

	<h2 id="one">1. What Information About Me Is Collected and Stored?</h2>

	<p>There are two basic types of information that we may collect in conjunction with your use of Kick Bot, personal information and non-personal information.  Personal information is any information that can individually identify you and includes your name and e-mail address.  Non-personal information includes information that does not personally identify you, but may include information about your computer or your use of Kick Bot.</p>

	<h3>Personal Information</h3>
	<p>You can fully use Kick Bot without submitting any personal information to us.  At this time, we do not collect any personal information from you through Kick Bot, unless you fill out the feedback form in the game, in which case your provided email and device ID may be associated with each other letting us associate anonymous usage statistics we have already collected with you personally in hopes of tracking down any bugs you might have brought to our attention.</p>

	<h3>Non-Personal Information</h3>
	<p>When you interact with Kick Bot, we collect certain information that does not identify you individually. Kick Bot automatically keep an activity log of your in game activity. Generally, we may collect and store the following categories of Non-Personal Information:</p>
	<ul>
		<li>Device information about your computer including unique device identifiers, computer manufacteur, processor type, memory, operating system version, graphics hardware, and screen resolution.</li>
		<li>Analytics and usage information about your use of Kick Bot such as logs of your play time and game statistics.</li>
	</ul>


	<h2 id="two">2. How Do We Use Your Information?</h2>
	<p>We use the information we learn from you to help us personalize and continually improve your experience on our game Kick Bot.  We use your Non-Personal Information to analyze, optimize, fix bugs, and generally find ways to improve our game.</li>


	<h2 id="three">3. Who Do We Provide Your Information To?</h2>
	<p>We do not use or disclose information about you to anyone not part of Two Scoop Games or related entities.</p>
	<p> One exception is that we reserve the right to use aggregate statistics such as "number of beta play throughs", "number of deaths in level 3" etc in blog posts and other social media marketing, but never associated with an individual player.</p>


	<h2 id="four">4. Governing Law</h2>
	<p>Kick Bot is published in the United States. We attempt to protect the data and information of all users of Kick Bot and we attempt to comply with local data protection and consumer rights laws to the extent they may apply to Kick Bot, but Kick Bot is located and targeted to United States citizens and our policies are directed at compliance with those laws.  If you are uncertain whether this privacy policy conflicts with applicable local privacy laws where you are located, you should not submit your data and information through Kick Bot.</p>


	<h2 id="five">5. Changes to This Policy</h2>
	<p>As we continue to develop Kick Bot we may add new services and features. In the event that these additions affect our Privacy Policy, this document will be updated appropriately.  We will post those changes prominently so that you will always know what information we gather, how we might use that information and whether we will disclose it to anyone.  We do, however, recommend that you read this Privacy Policy each time you use Kick Bot in case you missed our notice of changes to the Privacy Policy.  We will not, however, materially change our policies and practices to make them less protective of your information that we have previously collected from you without your express consent.</p>


<footer>
		<p>&copy; 2020 Two Scoop Games, LLC. All rights reserved.<br><br></p>
</footer>

</div>
</div>
