<div class="top row">
	<div class="col1-2">
		<h1>Game Title</h1>
		<h2>Slogan slogan slogan slogan slogan slogan</h2>
		<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at felis lacus, et scelerisque tortor. Praesent ornare massa at tortor ultricies bibendum viverra odio pretium. Sed et turpis eget orci tempus vestibulum. Nunc vel lectus ut ligula facilisis eleifend sit amet et massa. </p>
		<button class="action">button text</button>
	</div>
	<div class="col1-2">
		<iframe width="640" height="360" src="//www.youtube.com/embed/ek1yJr6Od2I?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div><!-- top row -->

<div class="screenshotArea row">
	<div class="carousel">
		<div class='arrowLeft arrow' data-direction='back'></div>
		<ul class="schreenshots">
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
			<li class="screenshot col1-6"><img src="http://placekitten.com/200/300" alt="screenshot alt text"></li>
		</ul><!-- . schreenshots  -->
		<div class='arrowRight arrow' data-direction='forward'></div>
	</div><!-- . carousel  -->
</div><!-- screenshot row -->

<div class="mediaCoverage row">
	<div class="media col 1-6">
		<img src="#" alt="media image alt text">
		<h3> title</h3>
		<p>media coverage text</p>
		<a href="#">article or video link</a>
	</div>
</div><!-- mediaCoverage row -->

<h3>What people are saying about Kick Bot</h3>
<div class="quotes row">
	{{#each kickbot-comments}}
		{{> comment}}
	{{/each}}
</div>

<div class="subscribe row">
</div><!-- subscribe row -->

<script>
	var quotes = makeQuotesArray($('.quote'));
	var filtered = fisherYates(quotes, 8);

	numberQuotes($('.quote'));
	showQuotes(filtered);

	function numberQuotes(elements){
		var i = 0;
		elements.each(function(){
			$(this).attr("id", "quote"+ i);
			i++;
		});
	}

	function makeQuotesArray(elements){
		var array = [];
		for(var i = 0; i < elements.length; i++){
			array.push(i);
		};
		return array;
	}

	function fisherYates(myArray,nb_picks){
		for (i = myArray.length-1; i > 1  ; i--){
			var r = Math.floor(Math.random()*i);
			var t = myArray[i];
			myArray[i] = myArray[r];
			myArray[r] = t;
		}
		return myArray.slice(0,nb_picks);
	}

	function showQuotes( array ){
		console.log(array);
		for(var i = 0; i < array.length; i++){
			console.log(array[i]);
			$('#quote'+array[i]).show();
		}
	}
</script>
