{{#with games.kickbot}}
<div class="top row">
	<div class="col1-2">
		<div class="description module">
			<h1>{{title}}</h1>
			{{#if tagline}}
				<h2>{{tagline}}</h2>
			{{/if}}
			<p>{{description}}</p>
			<button class="action">Play Now!</button>
		</div>
	</div>
	<div class="col1-2">
		{{#if video}}
			<div class="fitvids">
				<iframe width="640" height="360" src="{{video}}" frameborder="0" allowfullscreen></iframe>
			</div>
		{{/if}}
	</div>
</div><!-- top row -->
{{/with}}

<div class="screenshotArea row">
	<div class="carousel">
		<div class='arrowLeft arrow' data-direction='back'></div>
		<ul class="schreenshots">
			<li class="screenshot col1-4"><img src="http://placekitten.com/300/200" alt="screenshot alt text"></li>
			<li class="screenshot col1-4"><img src="http://placekitten.com/300/200" alt="screenshot alt text"></li>
			<li class="screenshot col1-4"><img src="http://placekitten.com/300/200" alt="screenshot alt text"></li>
			<li class="screenshot col1-4"><img src="http://placekitten.com/300/200" alt="screenshot alt text"></li>
		</ul><!-- . schreenshots  -->
		<div class='arrowRight arrow' data-direction='forward'></div>
	</div><!-- . carousel  -->
</div><!-- screenshot row -->

<div class="mediaCoverage row">
	<div class="media col 1-6">
		<img src="#" alt="media image alt text">
		<h3> title</h3>
		<p>media coverage text</p>
		<a href="#">article or video link</a>
	</div>
</div><!-- mediaCoverage row -->

<h3>What people are saying about Kick Bot</h3>
<div class="quotes row">
	{{#each kickbot-comments}}
		{{> comment}}
	{{/each}}
</div>

<div class="subscribe row">
</div><!-- subscribe row -->
