<div class="all-posts">
  {{#each posts}}
  <a href="{{url}}" title="{{title}}" class="post-blurb-container">
    <div class="row">
      <div class="col-sm-5 image-side">
        <div class="blog-post-thumb" alt="{{coverPhotoAlt}}" style="background-image: url({{config.url}}{{coverPhoto}});"></div>
      </div>
      <div class="col-sm-7 content-side">
        <h1 class="blog-post-title">{{title}}</h1>
        <p class="blog-post-meta">{{date}}</p>
        <p class="blog-post-meta">{{blurb}}</p>
        <!-- <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p> -->
        
      </div>
    </div>

</a>
  {{/each}}
</div>
