---
dateTime: {{dateTime}}
year: {{year}}
month: {{month}}
day: {{day}}
time: {{time}}
title: {{title}}
{{#if categories}}
categories:
{{#each categories}}
  - {{this}}
{{/each}}
{{/if}}
{{#if tags}}
tags:
{{#each tags}}
  - {{this}}
{{/each}}
{{/if}}
featured: false
{{#if coverPhoto}}
coverPhoto: {{config.url}}{{coverPhoto}}
coverPhotoAlt: {{coverPhotoAlt}}
{{/if}}
{{#if imported-from}}
imported-from: {{imported-from}}
import-date: {{import-date}}
{{/if}}
{{#if tumblr-id}}
tumblr-id: {{tumblr-id}}
{{/if}}
{{#if tumblr-url}}
tumblr-url: {{tumblr-url}}
{{/if}}
{{#if tumblr-type}}
tumblr-type: {{tumblr-type}}
{{/if}}
---

{{{content}}}
