</div> <!-- end .conmtainer -->
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <p><a href="#"><i class="ion-md-arrow-round-up"></i> Back to top</a></p>

    <div class="footer container">

				<div class="row">

						<div class="col-sm-6">
							<div class="module">
								<h3>Games</h3>
								<ul class="menu">
										<li>
											<a href="/kickbot/">Kick Bot</a>
										</li>
										<li>
											<a href="/movingin/">Moving In</a>
										</li>
										<li>
											<a href="/pullpals/">PullPals</a>
										</li>
										<li>
											<a href="/syrush/">SyRUSH</a>
										</li>
										<li>
											<a href="/scurry/">Scurry</a>
										</li>
										<li>
											<a href="/kickbotclassic/">Kick Bot (Classic)</a>
										</li>
										<li>
											<a href="/fortunedicevr/">Fortune Dice VR</a>
										</li>
										<li>
											<a href="/fineage/">Fineage</a>
										</li>
										<li>
											<a href="/duolastic/">Duolastic</a>
										</li>
										<li>
											<a href="/electropolis/">Electropolis</a>
										</li>
										<li>
											<a href="/morningritual/">Morning Ritual</a>
										</li>
										<li>
											<a href="/clusterjunk/">Cluster Junk</a>
										</li>
										<li>
											<a href="/treatmentandcontrol/">Treatment and Control</a>
										</li>
										<li>
											<a href="/stanleysqueaks/">Stanley Squeaks and the Emerald Burrito</a>
										</li>
										<li>
											<a href="/uprooted/">Uprooted</a>
										</li>
										<li>
											<a href="/thedaytheworldchanged/">The Day the World Changed</a>
										</li>
										<li>
											<a href="/desserts/">Desserts Killed Your Daddy</a>
										</li>
										<li>
											<a href="/fluffykins/">Mr. Fluffykins' Great Sorting Adventure</a>
										</li>
										<li>
											<a href="/apartment213/">Apartment 213</a>
										</li>
									<li><a href="/">All Games</a></li>
								</ul>
							</div><!-- .module -->
						</div><!-- .col-sm-3 -->



						<div class="col-sm-6">


							<div class="module">
								<h3>Social</h3>
								<ul class="menu">
									<li><a href="https://twitter.com/TwoScoopGames" target="_blank">Follow us on Twitter</a></li>
									<li><a href="http://twoscoopgames.tumblr.com/" target="_blank">Follow us on Tumblr</a></li>
									<li><a href="http://twitch.tv/twoscoopgames" target="_blank">Follow us on Twitch</a></li>
									<li><a href="https://www.youtube.com/user/TwoScoopGames" target="_blank">Subscribe to us on YouTube</a></li>
									<li><a href="https://www.facebook.com/TwoScoopGames" target="_blank">Like us on Facebook</a></li>
									<li><a href="http://two-scoop-games.itch.io/" target="_blank">Follow us on Itch.io</a></li>
								</ul>

								<h3>Studio Info</h3>
								<ul class="menu">
									<li><a href="/about-us">About Us</a></li>
									<li><a href="/press" target="_blank">Press Kit</a></li>
									<li><a href="http://blog.twoscoopgames.com" target="_blank">Two Scoop Games Blog</a></li>
									<li><a href="http://louisvillemakesgames.org" target="_blank">Louisville Makes Games! community</a></li>
									<li><a href="mailto:info@twoscoopgames.com">Email us</a></li>
									<li><a href="/support">Game Support</a></li>
									<li><a href="/privacy">Privacy Policy</a></li>
								</ul>
							</div><!-- .module -->
						</div><!-- .col-sm-3 -->

				</div><!-- / row -->

				<div class="legal row">
					<p>©<script async="" src="//www.google-analytics.com/analytics.js"></script><script>document.write(new Date().getFullYear())</script> Two Scoop Games LLC</p>
				</div>

			</div>
  </div>
</footer>


<script>
  window.ga = function() {
    ga.q.push(arguments)
  };
  ga.q = [];
  ga.l = +new Date;
  ga('create', '{{config.google-analytics-id}}', 'auto');
  ga('send', 'pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fitvids/1.2.0/jquery.fitvids.min.js" integrity="sha256-nA828blBCdUSSdI8jpciOZsf72IGt1eBcdx1ioEfa8o=" crossorigin="anonymous"></script>

<script>
  $(document).ready(function(){
    $(".youtube-video").fitVids();
  });
</script>

<script src="/js/prism.js"></script>

</body>

</html>
