<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="{{config.author}}">
  <meta name="generator" content="{{config.generator}}">
  <meta property="og:site_name" content="{{config.title}}">

  {{#if post.title}}
  <!-- this is a post -->
  <title>{{config.title}} - {{post.title}}</title>
  <meta property="og:title" content="{{config.title}} - {{post.title}}">
  <meta name="twitter:title" content="{{config.title}} - {{post.title}}">
  <meta property="og:url" content="{{config.url}}{{post.url}}">
  <meta name="description" content="{{post.blurb}}">
  <meta property="og:description" content="{{post.blurb}}">
  <meta name="twitter:description" content="{{post.blurb}}">
  <meta property="og:image" content="{{config.url}}{{post.coverPhoto}}">
  <meta name="twitter:image" content="{{config.url}}{{post.coverPhoto}}">
  <meta property="og:type" content="article">
  {{else}}
  <!-- this is a page -->
  <title>{{config.title}} - {{page}}</title>
  <meta property="og:title" content="{{config.title}}">
  <meta name="twitter:title" content="{{config.title}}">
  <meta property="og:url" content="{{config.url}}">
  <meta name="description" content="{{config.description}}">
  <meta property="og:description" content="{{config.description}}">
  <meta name="twitter:description" content="{{config.description}}">
  <meta property="og:image" content="{{config.url}}{{config.shareImage}}">
  <meta name="twitter:image" content="{{config.url}}{{config.shareImage}}">
  {{/if}}

  <link rel="apple-touch-icon" sizes="180x180" href="{{config.url}}/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{config.url}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{config.url}}/favicon-16x16.png">
  <link rel="manifest" href="{{config.url}}/site.webmanifest">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{{config.url}}/css/quest-log.css">

  <link href="/css/prism.css" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
  <header>
    <nav class="navbar navbar-expand-md fixed-top">
      <div class="container">
        {{#if config.logo}}
          <a href="{{config.url}}" class="logo" alt="{{config.title}} - {{config.subtitle}}">
            <img src="{{config.url}}{{config.logo}}">
          </a>
        {{else}}
          <a class="navbar-brand" href="/">
            <strong class="font-weight-bold"><i class="{{ionicon}}"></i> {{config.title}}</strong>
            <p class="small">{{config.subtitle}}</p>
          </a>
        {{/if}}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            {{#each config.pages}}
              {{#if linkOnly}}
                <li class="nav-item">
                  <a class="nav-link" href="{{file}}">{{name}}</a>
                </li>
              {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/{{file}}">{{name}}</a>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <div class="container">
