{{>header}}
      <div class="post-page">
        <div role="main" class="post-container">

          <h1 class="post-title">{{post.title}}</h1>
          <!-- <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each post.tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p> -->
          <p class="blog-post-meta">{{post.date}}</p>
          {{#if post.author}}<p class="blog-post-meta">Posted by: {{post.author}}</p>{{/if}}
          <div class="post-content">
          {{{post.__content}}}
          <p class="blog-post-meta">- {{post.author}}</p>
        </div>
        </div>

        <nav class="blog-pagination">
          {{#if post.prev}}
          <div class="post-container">
            <div class="pagination-header">Older Post</div>
            <div class="row">
              <div class="col-md-5 image-side">
                <a href="{{config.url}}{{post.prev.url}}" class="blog-post-thumb" alt="{{post.prev.coverPhotoAlt}}" style="background-image: url({{post.prev.coverPhoto}});"></a>
              </div>
              <div class="col-md-7 content-side">
                <a class="blog-post-title" href="{{post.prev.url}}">{{post.prev.title}}</a>
                <p class="blog-post-meta">{{post.prev.blurb}}</p>
                <!-- <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each post.prev.tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p> -->
                <p class="blog-post-meta">{{post.prev.date}}</p>
              </div>
            </div>
          </div>

          {{/if}}

          {{#if post.next}}

          <div class="post-container">
            <div class="pagination-header">Newer Post</div>
            <div class="row">
              <div class="col-md-5 image-side">
                <a href="{{config.url}}{{post.next.url}}" class="blog-post-thumb" alt="{{post.next.coverPhotoAlt}}" style="background-image: url({{post.next.coverPhoto}});"></a>
              </div>
              <div class="col-md-7 content-side">
                <a class="blog-post-title" href="{{post.next.url}}">{{post.next.title}}</a>
                <p class="blog-post-meta">{{post.next.blurb}}</p>
                <!-- <p class="blog-post-meta"><i class="ion-md-pricetags"></i> {{#each post.next.tags}}<a class="blog-post-tag">{{this}}</a>{{/each}}</p> -->
                <p class="blog-post-meta">{{post.next.date}}</p>
              </div>
            </div>
          </div>
          {{/if}}
        </nav>

      </div>

{{>footer}}
