/* flat UI colors */
       $white: rgba(255,255,255,1);
   $turquoise: rgba( 26,188,156,1);
    $emerland: rgba( 46,204,113,1);
  $peterriver: rgba( 52,152,219,1);
    $amethyst: rgba(155, 89,182,1);
  $wetasphalt: rgba( 52, 73, 94,1);
    $greensea: rgba( 22,160,133,1);
   $nephritis: rgba( 39,174, 96,1);
  $primary: rgba( 41,128,185,1);
  //$primary: #CB515C;
  //$primary: #9078A8;
 // $primary: rgba( 22,160,133,1);
  //$primary: rgba( 26,188,156,1);
  
    $wisteria: rgba(142, 68,173,1);
$midnightblue: rgba( 44, 62, 80,1);
   $sunflower: rgba(241,196, 15,1);
      $carrot: rgba(230,126, 34,1);
    $alizarin: rgba(231, 76, 60,1);
      $clouds: rgba(236,240,241,1);
    $concrete: rgba(149,165,166,1);
      $orange: rgba(243,156, 18,1);
     $pumpkin: rgba(211, 84,  0,1);
 $pomegranate: rgba(192, 57, 43,1);
      $silver: rgba(189,195,199,1);
    $asbestos: rgba(127,140,141,1);

/* my additions */
  $lightcoral: rgba(241,114,136,1);
       $green: rgba( 81,149, 72,1);
       $slate: rgba( 85, 88, 91,1);

/*  bootstrap colors */
     //$primary: rgba( 66,139,202,1);
     $success: rgba( 92,184, 92,1);
        $info: rgba( 91,192,222,1);
     $warning: rgba(240,173, 78,1);
      $danger: rgba(217, 83, 79,1);

$blue: #abd2d1;
$maroon: #901840;
$green: #b4d88f;
$cone: #b7a362;
$grey: #5b5759;
