.bottom-band {
  width: 100%;
  background: $belizehole;
  color: white;
}

footer {
  @extend .pageWidth;
  margin: 0 auto;
  h3 {
    text-align: center;
    background: darken($belizehole, 2%);
    padding: 10px 25px;

    border-radius: 25px 25px 0 0;
  }
  li {
    list-style-type: none;
  }
  a {
    color: white;
  }
}

.legal {
  padding: 15px;
  text-align: center;
}
