.description{
	margin: 15px;
	padding: 15px;

	color: white;
	.col-sm-4{
	}
	.col-sm-8{
		padding: 10px;
	}
	.gameLogo{
		width: 100%;
		max-width: 250px;
		margin: 0 auto;
		display: block;
		border-radius: 20px;
	}
	h1{
		font-family: "helvetica", verdana, sans-serif;
		font-weight: 200;
		letter-spacing: .12rem;
		line-height: 32px;
	}
	h2{
		font-family: "helvetica", verdana, sans-serif;
		font-weight: 200;
		letter-spacing: .12rem;
	}
	button{
		margin: 0 auto;
		display: block;
		padding: 10px 35px;
		font-size: 25px;
		border-radius: 10px;
		background: linear-gradient( lighten($primary, 5%), $primary);
		box-shadow: #87c1dd 0 1px 0 inset;
		border: 1px solid $primary;
		color: white;
	}
	.row{
		margin: 0 auto;
		.col-sm-4{
			text-align: center;
		}
	}
}


#carousel{
	max-width: 1100px;
	margin: 0 auto;
}