 .gamePage .logo{
  display: none;
}

.topNav .logo{
  top: 0;
}

.topNav{
  background: $purple;
  position: relative;
  transform: rotate(-4deg);
  top: -68px;
  padding: 70px 0 20px 81px;
}

.youtube-video.module iframe{
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
}
.gamePage{
  h2{
    margin-bottom: 15px !important;
  }
}

.game-logo{
  max-width: 100%;
}

.pitch.module{
  p{
    margin-top: 25px !important;
    margin-bottom: 35px !important;
  }
}


.spacer.row{
  margin: 60px auto !important;
}

.screenshot .module {
  text-align: center;

  img{
    max-width: 100%;
    max-height: 300px;
    margin: 15px 0;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
  }
}


.comments{
  li{
    list-style-type: none;
    margin: 0 0 25px 0;
  }
}
.awards, .jam, .description, .features, .premium-features, .contributors, .media{
  margin-bottom: 60px;


  img{

    max-width: 250px !important;
    margin: 0 auto 30px auto;
    display: block;
  }
}


.jam{
  perspective:1000px;
  .module{
    background: $purple;
    padding: 5px 21px 14px 20px;
    transition: all 0.2s;
    &:hover{
      transform: rotateY(-25deg);
    }
  }
}


.features li, .premium-features li{
  margin-bottom: 10px;
}

.notice-me{
  margin-bottom: 25px;
  perspective:1000px;
  .module{
    text-align: center;
    background: $purple-shadow;
    padding: 22px 21px 23px 20px;
    font-size: 25px;
    font-family: "cubano";
    line-height: 36px;
    transition: all 0.2s;
    &:hover{
      transform: rotateY(25deg);
    }
    .btn-container{
      padding: 10px 25px;
    }
    .btn{
      font-size: 30px;
      background: #d64fb4;
      margin: 0 auto;
      display: block;
    }
  }
}

.copyright{
  margin-top: 60px;
}

img{
  max-width: 100% !important;
}


.reviews.module{
  img{
    margin-bottom: 10px !important;
  }
}

.custom-header{
  position: relative;
      height: 460px;

  .header-tally{
    width: 320px;
        position: absolute;
        top: -57px;
        left: 295px;
  }
  .header-giga{
    width: 614px;
    position: absolute;
    top: -148px;
    right: -202px;
  }
  .header-kickbot{
    width: 614px;
  position: absolute;
  top: -7px;
  left: -252px;
  }
  .header-logo{
    width: 563px;
        position: absolute;
        top: 169px;
        left: 312px;
  }
}
