.description.module{
	margin: 15px;
	padding: 15px;
	border-radius: 20px;
	background: white;
	color: darken($concrete, 4%);
	h1{ 
		font-family: "helvetica", verdana, sans-serif;
		font-weight: 200;
		letter-spacing: .12rem;
		@media (max-width: 1150px) {
			font-size: 16px;
		}
	}
	h2{
		font-family: "helvetica", verdana, sans-serif;
		font-weight: 200;
		letter-spacing: .12rem;
	}
	button{
		margin: 0 auto;
		display: block;
padding: 5px 35px;45
font-size: 25px;
        border-radius: 10px;
@include linear-gradient( lighten($belizehole, 5%), $belizehole);
@include box-shadow(#87c1dd 0 1px 0 inset);
border: 1px solid $belizehole;
color: white;
	}
}