header{
  margin: 0 auto;
}

header nav{

  background: $purple;
  width: 100%;
  height: 180px;
  position: relative;
  margin: 0 auto;
  transform: rotate(-4deg);
  top: -80px;
  z-index: 1 !important;

  @media (max-width: 815px){
    transform: rotate(0deg);
  }
}
header nav:before {
  z-index: -1;
  top: -20px;
    left: -89px;
    width: 509px;
    height: 200px;
  background: $purple;

  position: absolute;
  content: "";
}


// nav
header nav .nav-menu{
  top: 95px;
  @media (min-width: 816px){
    left: 110px;
    max-width: 60%;
  }
  position: relative;
  transform: rotate(4deg);
  @media (max-width: 815px){
    top: 98px;
    width: 80%;
    transform: rotate(0deg);
    display: block;
    left: none !important;
    position: relative;
    margin: 0 auto;
    text-align: center;
  }

}
header nav .nav-menu a{

  display: inline-block;

  @media (min-width: 626px){
    border: 1px solid white;
    margin: 5px;
    padding: 10px 25px;
    font-size: 20px;
  }
  @media (max-width: 625px){
    font-size: 16px;
    padding: 5px 5px;
  }
  border-radius: 8px;
  text-decoration: none !important;

  color: white;
  text-decoration: none;

  font-weight: 400;
  font-family: "Lato", "helvetica neue", helvetica, verdana, sans-serif;
  &:hover{
    color: white;
    background: rgba(255,255,255,0.1);
  }
  &:visited, &:active{
    color: white;
  }
}


.page{
  top: -60px;
  position: relative;
}
