.mediaCoverage.row{
	margin: 60px auto;
}

.media{
	margin: 0 4px 10px 4px;
	color: darken($concrete, 4%);
	padding: 10px;
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);


	img{
		max-width: 100%;
	}
	p{
		height: 80px;
		overflow: hidden;
	}
	a{
		text-decoration: none;
		color: white;
		background: $primary;
		text-decoration: underline;
		display: block;
		width: intrinsic;
		padding: 10px 12px;
		margin: 0 auto;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.428571429;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		cursor: pointer;
		border: 1px solid transparent;
		border-radius: 4px;
		user-select: none;
		background: linear-gradient(lighten($primary, 5%), $primary);
		box-shadow: 0 1px 4px rgba(0,0,0,.2);
	}
	h3{
		font-weight: 200;
		font-size: 18px;
	}

}