header{
	margin: 0 auto;

}



nav{

padding: 0px 50px;


text-align: center;


	a{
font-size: 20px;
display: inline-block;
		margin: 0px !important;
		@include breakpoint(papa-bear) {
			padding: 10px 25px;
		}
		@include breakpoint(mama-bear) {
	padding: 10px 25px;
		}
		@include breakpoint(baby-bear) {
		padding: 10px 15px;
		}

border-right: 1px solid rgba(255,255,255,.3);

		&:last-child{
			border-right: 0px;
			margin: 0px !important;
		}
		color: white;
		text-decoration: none;

		font-weight: 200;
		font-family: "Lato", "helvetica neue", helvetica, verdana, sans-serif;
		&:hover{
			color: rgba(255,255,255,.8);
			//background: darken($blue, 25%);

		}
		&:active{
			color: $grey;
		}
	}
}

.logo{
	display: block;
		max-width: 176px;
    width: 100%;
}
