
.quote .module{
  padding: 10px;
  background: $green-shadow;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,.2);
  margin: 15px auto;
  height: 130px;
	overflow: hidden;
  a{
    color: white;
    font-weight: bold;

  }
}
