
.store-buttons{
  .btn{
    cursor: pointer !important;
    display: block;
    width: 100%;
    color: white;
    padding: 2px 15px 2px 5px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    margin: 0  5px 15px 5px;
    img{
      vertical-align: middle;
      margin: 0;
      padding: 4px;
      max-width: 60px;
      display: inline-block !important;
    }
    p{
      font-size: 18px;
      vertical-align: middle;
      margin: 0;
      display: inline-block !important;
    }
  }
}



@mixin storeButtonColor($color){
  // border: 1px solid darken($color, 10%) !important;
  background: linear-gradient( lighten($color, 5%), $color);
  &:hover{
    // border: 1px solid $color !important;;
    background: linear-gradient( lighten($color, 15%), lighten($color, 10%));
  }
  &:active{
    // border: 1px solid darken($color, 15%) !important;;
    background: linear-gradient( darken($color, 15%), darken($color, 10%));
  }
}


$webColor:       $green-shadow;
$webtouchColor:  $green-shadow;
$iosColor:       $purple;
$androidColor:   $purple;
$chromeColor:    $purple;
$firefoxColor:   $green-shadow;
$linuxColor:     $purple-shadow;
$macColor:       $purple-shadow;
$windowsColor:   $purple-shadow;
$itchColor:      $green;
$splatColor:     $green-shadow;



.store-buttons{
  .web{
    @include storeButtonColor($webColor);
  }
  .webtouch{
    @include storeButtonColor($webtouchColor);
  }
  .ios{
    @include storeButtonColor($iosColor);
  }
  .android{
    @include storeButtonColor($androidColor);
  }
  .chrome{
    @include storeButtonColor($chromeColor);
  }
  .firefox{
    @include storeButtonColor($firefoxColor);
  }
  .linux{
    @include storeButtonColor($linuxColor);
  }
  .mac{
    @include storeButtonColor($macColor);
  }
  .windows{
    @include storeButtonColor($windowsColor);
  }
  .itch{
    @include storeButtonColor($itchColor);
  }
  .splat{
    @include storeButtonColor($splatColor);
  }
}
