.store-buttons.row {
  margin: 45px 0;
}

.store-buttons{
  .btn{
    cursor: pointer !important;
    color: white;
    padding: 2px 15px 2px 5px;
    text-align: left;
    border-radius: 25px;
    margin: 5px;
    img{
      vertical-align: middle;
      margin: 0;
      padding: 4px;
      max-width: 40px;
      display: inline-block !important;
    }
    p{
      font-size: 14px;
      vertical-align: middle;
      margin: 0;
      display: inline-block !important;
    }
  }
}



@mixin storeButtonColor($color){
  border: 1px solid darken($color, 10%) !important;
  background: linear-gradient( lighten($color, 5%), $color);
  &:hover{
    border: 1px solid $color !important;;
    background: linear-gradient( lighten($color, 15%), lighten($color, 10%));
  }
  &:active{
    border: 1px solid darken($color, 15%) !important;;
    background: linear-gradient( darken($color, 15%), darken($color, 10%));
  }
}


$webColor:       #FF548F;
$webtouchColor:  #FF548F;
$iosColor:       #9061C2;
$androidColor:   #b1e01c;
$chromeColor:    #fcd246;
$firefoxColor:   #FF9500;
$linuxColor:     #b1e01c;
$macColor:       #9061C2;
$windowsColor:   #1aa9d9;
$itchColor:      #ff5c5c;
$splatColor:     #00cdbd;



.store-buttons{
  .web{
    @include storeButtonColor($webColor);
  }
  .webtouch{
    @include storeButtonColor($webtouchColor);
  }
  .ios{
    @include storeButtonColor($iosColor);
  }
  .android{
    @include storeButtonColor($androidColor);
  }
  .chrome{
    @include storeButtonColor($chromeColor);
  }
  .firefox{
    @include storeButtonColor($firefoxColor);
  }
  .linux{
    @include storeButtonColor($linuxColor);
  }
  .mac{
    @include storeButtonColor($macColor);
  }
  .windows{
    @include storeButtonColor($windowsColor);
  }
  .itch{
    @include storeButtonColor($itchColor);
  }
  .splat{
    @include storeButtonColor($splatColor);
  }
}