@mixin storeButtonColor($color){
  background: linear-gradient( lighten($color, 20%), $color);
  &:hover{
    background: linear-gradient( lighten($color, 20%), lighten($color, 10%));
  }
  &:active{
    background: linear-gradient( darken($color, 20%), darken($color, 10%));
  }
}

.store-buttons{
  .btn{
    @include storeButtonColor($purple);
    cursor: pointer !important;
    position: relative;
    display: block;
    width: 100%;
    color: white;
    padding: 2px 15px 2px 5px;
    text-align: left;
    border-radius: 10px;
    box-shadow: -8px 8px 0px 0px rgba(0,0,0,0.25);
    margin: 0  5px 15px 5px;
    border: 6px solid white;
    transition: all 2s !important;
    height: 80px;


    &:hover{
      top: -5px !important;
    }
    img, i{
      font-size: 40px;
      vertical-align: middle;
      margin: 0;
      padding: 4px;
      max-width: 60px !important;
      display: inline-block !important;
    }
    i{
      padding: 10px;
    }
    p{
      max-width: 200px !important;
     text-wrap: auto;
      font-size: 18px;
      vertical-align: middle;
      margin: 0;
      display: inline-block !important;
    }
  }
}

@media (min-width: 1200px){
  .store-buttons .btn p{
      line-height: 27px;
      font-size: 22px;
    }
}

@media (max-width: 991px){
  .store-buttons .btn p{
      line-height: 25px;
      font-size: 20px;
    }
}
