* {
  box-sizing: border-box;
}
body{
  width: 100vw;
}
//
// .fl {
//   float: left;
// }
//
// .fr {
//   float: right;
// }
//
// .center {
//   margin: 0 auto;
// }
//
// Based on work by Chris Coyier
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: 1025px)  {
      @content;
    }
  }
  @else if $point == md {
    @media (min-width: 732px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $point == sm {
    @media (min-width: 501px) and (max-width: 731px)  {
      @content;
    }
  }
  @else if $point == xs {
    @media (min-width: 0px) and (max-width: 500px)  {
      @content;
    }
  }
}
//
//
// //set your desired gutter here
// $col-gutter: 10px;
// $col-gutter-half: $col-gutter / 2;
//
//
.module{
  margin-left: 5px;
  margin-right: 5px;
}
