* {
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
}

// Based on work by Chris Coyier
// http://css-tricks.com/media-queries-sass-3-2-and-codekit/
@mixin breakpoint($point) {
  @if $point == papa-bear {
    @media (min-width: 1025px)  {
      @content;
    }
  }
  @else if $point == mama-bear {
    @media (min-width: 731px) and (max-width: 1024px) {
      @content;
    }
  }
  @else if $point == baby-bear {
    @media (min-width: 0px) and (max-width: 730px)  {
      @content;
    }
  }
}


[class^="col"] {
  img{
    width: 100%;
  }
}

.module{
  margin-left: 5px;
  margin-right: 5px;
}
