$normal-font-size: 16px;
$normal-font-line-height: $normal-font-size * 1.5;

html {
  font-family: "helvetica", verdana, sans-serif;
  font-size: $normal-font-size;
  line-height: $normal-font-line-height;
}

.center-inside {
  text-align: center;
}


a{
	color: $primary;
}