@import"vendor/flexslider";
@import"vendor/bootstrap";

@import"structure";
@import"colors";
@import"typography";
// @import"social";
// @import"defaults";
@import"nav";
@import"header";
@import"logo";

@import"game-icon";
// @import"quotes";
// @import"banner-buttons";
@import"footer";
// @import"game-page-top";
// @import"media-coverage";
@import"store-buttons";


@import"game-page";
@import"quotes";



@import"games-page";


@import"about-us";



html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}

.videoBG{
    object-fit: cover;
    position: fixed;
    top: 0px;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    .videoBG {
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    .videoBG{
        display: none;
    }

}
