{{>game-page games.spookysingles}}

<div class="container">
<h3>What people are saying about Spooky Singles</h3>
<ul class="comments">
	{{#each spookysingles-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
