<div class=" about whiteBox">


	<div class="row">
		<div class="col-sm-6">
		<h3>About Us</h3>
			<p>Two Scoop Games is Alex Bezuska and Eric Lathrop. Based out of Louisville, Kentucky, Two Scoop Games has produced several games for various game jams while honing their craft. Web developers by trade, Two Scoop Games builds games for the web with a mission of advancing the number of cross-platform games native to the web. Two Scoop Games is an active participant in <a href="http://louisvillemakesgames.org">Louisville Makes Games!</a>, Louisville's local game development group.</p>
		</div>

		<div class="col-sm-6">
		<h3>Contract work</h3>
	        <p>
					 Two Scoop Games can bring any brand to life through engaging apps, games, and interactive digital experiences.
					 Cross platform - iOS, Android, Web, Linux, Mac, or Windows.
					 Keep us in mind for your next game or app!
				 </p>
					<a href="http://bit.ly/talk2twoscoop">Request a Quote</a>
		</div>
</div>


<div class="row">
	<div class="col-sm-6">
		<div class="module">
		<img src="alex.png" alt="Alex Bezuska - Artist, Two Scoop Games" />
		<h3><a href="http://alexbezuska.com">Alex Bezuska</a></h3>
		<p><a href="https://twitter.com/alexbezuska">@AlexBezuska</a></p>
		<p><a href="mailto:alex@twoscoopgames.com">alex@twoscoopgames.com</a></p>
		<p>Ever since Alex's first game system, the Super NES he always dreamed of not just playing games, but creating them. After hearing stories of the industry, and realizing that the average game developer works on a huge team and has no say in the direction of the project he became discouraged and forgot this dream. In 2012 Alex watched the film 'Indie Game: The Movie' and realized that making games is possible after all, as an indie developer! Alex now creates all the art for Two Scoop Games, and is very happy to be living his dream.</p>
		</div>
	</div>
	<div class="col-sm-6">
		<div class="module">
		<img src="eric.png" alt="Eric Lathrop - Programmer, Two Scoop Games" />
		<h3><a href="http://ericlathrop.com">Eric Lathrop</a></h3>
		<p><a href="https://twitter.com/ericlathrop">@EricLathrop</a></p>
		<p><a href="mailto:eric@twoscoopgames.com">eric@twoscoopgames.com</a></p>
		<p>Eric is the main programmer for Two Scoop Games. Eric's first programming experiences involved modifying BASIC games on a TRS-80. Always a gamer, Eric has been playing and creating games since he was a child. Passionate about the web, Eric has been developing <a href="http://splatjs.com">SplatJS</a>, a HTML5 game engine with the goal of making it easier to make cross-platform games with web technologies.</p>
		</div>
	</div>
</div>

</div>
