<h2>About Us</h2>

<div>
	<img src="eric.png" alt="eric" />
	<h3>Eric Lathrop</h3>
	<p><a href="https://twitter.com/ericlathrop">@EricLathrop</a></p>
</div>
<div>
	<img src="alex.png" alt="alex" />
	<h3>Alex Bezuska</h3>
	<p><a href="https://twitter.com/alexbezuska">@AlexBezuska</a></p>
</div>
