<div class="about-us container">


  <div class="spacer row">
    <div class="col-sm-12">
      <h3>About Us</h3>
      <p>
        Two Scoop Games is comprised of Alex Bezuska and Eric Lathrop. Based out of Louisville, Kentucky, Two Scoop Games has 3 major releases; Kick Bot, Scurry, and SyRUSH, and is currently working on Kick Bot DX, a sequal to one of thier most popular games. </p>

        <p>Two Scoop Games has also produced many prototypes for various game jams while honing their craft.
        </p>

      </div>


    </div>


    <div class="spacer row">
      <div class="col-sm-6">

        <div class="bio-card module">

          <div class="bio-photo">
            <img src="alex.png" alt="Alex Bezuska - Artist, Two Scoop Games" />
          </div>

          <h3>Alex Bezuska</h3>

          <a href="https://twitter.com/alexbezuska"><i class="fa fa-twitter"></i></a>

          <a href="mailto:alex@twoscoopgames.com"><i class="fa fa-envelope"></i>  </a>

          <p>Ever since Alex's first game system, the Super NES he always dreamed of not just playing games, but creating them. After hearing stories of the industry, and realizing that the average game developer works on a huge team and has no say in the direction of the project he became discouraged and forgot this dream. In 2012 Alex watched the film 'Indie Game: The Movie' and realized that making games is possible after all, as an indie developer! Alex now creates all the art for Two Scoop Games, and is very happy to be living his dream.</p>
        </div>

      </div>
      <div class="col-sm-6">

        <div class="bio-card module">
          <div class="bio-photo">
            <img src="eric.png" alt="Eric Lathrop - Programmer, Two Scoop Games" />
          </div>
          <h3>Eric Lathrop</h3>

          <a href="https://twitter.com/ericlathrop"><i class="fa fa-twitter"></i> </a>

          <a href="mailto:eric@twoscoopgames.com"><i class="fa fa-envelope"></i></a>

          <p>Eric is the main programmer for Two Scoop Games. Eric's first programming experiences involved modifying BASIC games on a TRS-80. Always a gamer, Eric has been playing and creating games since he was a child. Passionate about the web, Eric has been developing <a href="http://splatjs.com">SplatJS</a>, a HTML5 game engine with the goal of making it easier to make cross-platform games with web technologies.</p>
        </div>

      </div>
    </div>


    <div class="spacer contract-work row">
      <div class="col-sm-12">
        <h3>Contract work</h3>
        <p>
          Two Scoop Games can bring any brand to life through engaging apps, games, and interactive digital experiences.
          Cross platform - iOS, Android, Web, Linux, Mac, or Windows.
          Keep us in mind for your next game or app!
        </p>
        <a class="link-btn purple" href="http://bit.ly/talk2twoscoop" target="_blank">
          <i class="fa fa-file-text-o"></i> <p>Request a Quote</p>
        </a>
      </div>
    </div><!-- spacer row -->




  <div class="spacer row">
    <div class="col-sm-12">
      <h3>Press</h3>
      <p>
        <p>More information is available in our press kit.
      </p>
      <a class="link-btn green" href="/press/" target="_blank">
        <i class="fa fa-newspaper-o"></i> <p>Two Scoop Games Presskit</p>
      </a>
    </div>
  </div> <!-- spacer row -->

  </div> <!-- about-us container row -->


