<div class="about-us container">
  <div class="spacer row">
    <div class="col-sm-12">
      <h3>About Us</h3>
      <p>Two Scoop Games was a collaboration between Alex Bezuska and Eric Lathrop. Based out of Louisville, Kentucky, Two Scoop Games had 3 major releases; <a href="/kickbotclassic" title="Kick Bot (classic) from Two Scoop Games!">Kick Bot (classic)</a>, <a href="/scurry" title="Scurry from Two Scoop Games!">Scurry</a>, and <a href="/SyRUSH" title="SyRUSH from Two Scoop Games!">SyRUSH</a>, and many many jam games!</p>

      <p>As of now, Alex and Eric have gone their separate ways and Two Scoop Games is no longer active. You can continue to follow their solo projects via their individual websites:</p>
    </div>
  </div>

  <div class="spacer row">
    <div class="col-sm-6">
      <div class="bio-card module">
        <div class="bio-photo">
          <img src="alex.png" alt="Alex Bezuska - Artist" />
        </div>
        <h3>Alex Bezuska</h3>
        <a href="http://fufroom.art" target="_blank"><i class="fa fa-globe"></i> Alex's Website</a><br>
        <a href="https://fufroom.itch.io/" target="_blank"><i class="fa fa-gamepad"></i> Alex on Itch.io</a>
        <p>Ever since Alex's first game system, the Super NES, he dreamed of creating games. After watching 'Indie Game: The Movie' in 2012, Alex realized that making games was possible as an indie developer. He now continues to work on Kick Bot and his solo projects under the name "fufroom".</p>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="bio-card module">
        <div class="bio-photo">
          <img src="eric.png" alt="Eric Lathrop - Programmer" />
        </div>
        <h3>Eric Lathrop</h3>
        <a href="https://ericlathrop.com/" target="_blank"><i class="fa fa-globe"></i> Eric's Website</a><br>
        <a href="https://itch.io/profile/ericlathrop" target="_blank"><i class="fa fa-gamepad"></i> Eric on Itch.io</a>
        <p>Eric was the main programmer for Two Scoop Games. His first programming experiences involved modifying BASIC games on a TRS-80. Always a gamer, Eric has been playing and creating games since he was a child. Passionate about the web, Eric developed <a href="http://splatjs.com" target="_blank">SplatJS</a>, an HTML5 game engine with the goal of making it easier to create cross-platform games with web technologies. We used this engine for many of our first games and jams.</p>
      </div>
    </div>
  </div>
</div>
