<h2>About Us</h2>

<div class="row">
	<div class="col1-2">
		<img src="alex.png" alt="alex" />
		<h3>Alex Bezuska</h3>
		<p><a href="https://twitter.com/alexbezuska">@AlexBezuska</a></p>
		<p>Pixel maker</p>
	</div>
	<div class="col1-2">
		<img src="eric.png" alt="eric" />
		<h3>Eric Lathrop</h3>
		<p><a href="https://twitter.com/ericlathrop">@EricLathrop</a></p>
		<p>Code maker</p>
	</div>
</div>
