{{>game-page games.unclaimedloot}}

<div class="container">
<h3>What people are saying about Unclaimed Loot</h3>
<ul class="comments">
	{{#each unclaimedloot-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
