{{>game-page games.treatmentandcontrol}}

<h3>What people are saying about Treatment and Control</h3>
<div class="quotes row">
	{{#each treatmentandcontrol-comments}}
		{{> comment}}
	{{/each}}
</div>
