{{>game-page games.treatmentandcontrol}}

<div class="container">
<h3>What people are saying about Treatment and Control</h3>
<ul class="comments">
	{{#each treatmentandcontrol-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
