{{>game-page games.fluffykins}}


<div class="container">
<h3>What people are saying about Mr. Fluffykins</h3>
<ul class="comments">
	{{#each fluffykins-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
