{{>game-page games.stanleysqueaks}}

<h3>What people are saying about Stanley Squeaks and the Emerald Burrito</h3>
<div class="quotes row">
	{{#each stanleysqueaks-comments}}
		{{> comment}}
	{{/each}}
</div>
