{{>game-page games.desserts}}

<div class="container">
<h3>What people are saying about Desserts Killed Your Daddy</h3>
<ul class="comments">
	{{#each desserts-comments}}
		{{> comment}}
	{{/each}}
</ul>
</div>
