@font-face {
    font-family: 'cubano';
    src: url('/fonts/cubano-regular-webfont.woff2') format('woff2'),
         url('/fonts/cubano-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: "helvetica Neue", helvetica, lato, verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 1.1rem;
  background: #3f0f4d;
  color: white;
}

*{
  box-sizing: border-box;
}

main>.container {
  padding-top: 150px;
}

img {
  max-width: 100%;
}

xmp {
  border: 1px solid #999;
  display: block;
  margin: 10px;
  background-color: #232426;
  border-radius: 4px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: white;
}

.navbar {
  background: #3f0f4d;
}

.logo {
  margin: 10px 0 0 0;
  width: 200px;
}

.all-posts{
  margin-bottom: 50px;
}


.post-container {
  padding: 12px 15px 12px 15px;
  margin: 0 auto 15px auto;
  max-width: 800px;
  color: white;
  display: block;
}

.post-blurb-container {
    border-radius: 4px;
    text-decoration:none;
  padding: 12px 15px 12px 15px;
  margin: 0 auto 15px auto;
  max-width: 800px;
  transition: all .1s ease-in-out;
  color: white;
  display: block;
}




.post-blurb-container:hover {
  background: #551a66;
  transform: scale(1.05);
  text-decoration:none;
  color: white !important;
}



@media (width < 755px) {
  .content-side{
    margin-top: 10px;
  }
}

.post-content img{
    display: block;
    margin: 0 auto !important;
    padding: 0 !important;
}

.post-content p{
    margin: 20px 0;
}
    
.blog-post-thumb {
  //border: 1px solid white;
  border-radius: 4px;
  width: 284px;
  height: 160px;
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.blog-post-title {
  font-family: Cubano, "helvetica Neue", helvetica, lato, verdana, sans-serif;
  font-size: 1.5rem;
  margin: 0;
  color: white;
}

.blog-post-meta,
.blog-post-meta a {
  font-size: 16px;
  margin: 0;
}

.blog-pagination i {
  color: white;
}

.blog-post-tag {
  font-size: 0.9rem !important;
  border: 1px solid white;
  border-radius: 15px;
  padding: 2px 8px;
  margin: 5px;
  display: inline-block;
}

.pagination-header {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 32.3px;
  margin-bottom: 10px;
}


/* post page */

.post-page {}


  /* typography */

  p {
    font-family: Ubuntu, sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 26.4px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: left;
  }

  a {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(13, 192, 200);
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
    text-decoration: none;
    text-decoration-color: rgb(13, 192, 200);
    text-decoration-line: none;
    text-decoration-style: solid;
    color: #72c6a0;
  }

  a:hover {
    color: #63b8a2;
  }

  ul {
    font-size: 1.1rem;;
    font-weight: 400;
    line-height: 27.6px;
    margin-bottom: 16px;
    margin-top: 0px;
    text-align: left;
  }

  li {
    font-size: 1.1rem;;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
  }

  h1 {
    font-family: Cubano, "helvetica Neue", helvetica, lato, verdana, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: left;
    line-height: 2.3rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 41.4px;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: left;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 32.3px;
    margin-bottom: 0px;
    margin-top: 75px;
    text-align: left;
  }

  h4 {
    font-size: 1.1rem;
    font-weight: 700;
    line-height: 27.6px;
    margin-bottom: 0px;
    margin-top: 50px;
    text-align: left;
  }

  footer.footer {
    background: #9e2484 !important;
    color: white !important;
  }
  .footer a{
    color: white;
  }
  .footer a:hover{
    color: white;
  }

  .footer .text-muted{
    color: white !important;
  }

figure{
    margin-bottom: 75px;
}
figcaption{
    text-align: center;
    font-size: 0.9rem;
    color: rgba(255,255,255,0.6);
    padding: 4px;
    font-style: italic;
}

figcaption a{
        font-size: 0.9rem;
}